*
!*/
!*.*

test/**
!test/monkey/
!test/monkey/program_test.py
!test/monkey/r.py
!test/prof/
!test/prof/pro.sh


__pycache__
/__pycache__
pypyjit.cpython-311.pyc
output/*
*.ini
*.in
*.out
*.acc.json
lib/*
*.Identifier0
**/*.rs.bk
**/*~
rust/target/debug
rust/target
