*
!*/
!*.*

!test/prof/
!test/prof/pro.sh


__pycache__
/__pycache__
pypyjit.cpython-311.pyc
lang/output/*
lang/rust/target/*
*.ini
*.in
*.out
*.acc.json
lib/*
*.Identifier0
**/*.rs.bk
**/*~
rust/target/debug
rust/target
docs
!docs/boot/
!others/deploykit/dockerfile
!prof/prof.txt
!prof/test.txt
test/input
test/output
test/script.py
OUTPUT
TEST
!others/tools/*
