*
!*/
!*.*

test/**
!test/monkey/
!test/monkey/program_test.py
!test/monkey/r.py
!test/prof/
!test/prof/pro.sh
!test/operation/
!test/operation/template.sh


__pycache__
/__pycache__
pypyjit.cpython-311.pyc
lang/output/*
lang/rust/target/*
*.ini
*.in
*.out
*.acc.json
lib/*
*.Identifier0
**/*.rs.bk
**/*~
rust/target/debug
rust/target
docs
!docs/boot/
!deploykit/dockerfile